@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* align-items: center; */
  box-sizing: border-box;
  margin: 0;
  background-color: #eee;
}

.head-nav {
  background: #720303;
  border: 10px;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 3px gray;
  display: flex;
  height: 90px;
  justify-content: space-evenly;
  position: static;
}

.head-nav > h1 {
  color: #f0f0f8;
  font-size: 1.5rem;
  margin-left: 4rem;
  align-self: center;
  /* display: flex; */
}

/* .head-nav > h1 > span { */
/* writing-mode: vertical-lr; */
/* transform: scaleX(-1); */
/* font-weight: 800; */
/* font-size: 1.2rem; */
/* } */

.head-nav img {
  border: 3px solid #b0b0eb;
  border-radius: 50%;
  justify-self: center;
  margin: auto;
  transition: transform 450ms;
}

.head-nav img:hover {
  transform: scale(1.05)
}

.head-nav > h2 {
  color: #dfd6d6;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-right: 4rem;
  margin-left: .5rem;
  align-self: center;
}

.seemore {
  font-size: 1.5rem;
  padding-top: 6% 1% 6% 2%;
  text-align: center;
  overflow: auto;
  resize: both;
  /* resize: vertical; */
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; */
}

.ife-div-In-app {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1.2rem;
  margin: 2.5rem auto;
  justify-items: center;
  justify-content: center;
  /* scroll-snap-type: y proximity; */
}

.Section-body {
  max-width: fit-content;
  margin: 0;
  padding: 0;
}

.img-wrapper {
  width: 375px;
}


.img-wrapper img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 6px;
  box-shadow: 2px 3px 3px 3px gainsboro;
  transition: transform 450ms;
}

.img-wrapper img:hover {
  transform: scale(1.02)
}

/* New ends */

.Section-face {
  background-color: #6b67ec;
  border-radius: .5rem;
  padding: 2px;
  place-items: center;
  width: 100%;
  margin-top: 1.5rem;
  /* scroll-snap-align: center; */
}

.Section-body2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 2%;
  max-width: 700px;
  padding: 2px 0 0 1rem
}

.section1 {
  font-size: 1rem;
  font-weight: 600
}

.section1,
.section2 {
  color: #942020;
  margin: 0
}

.section2 {
  font-size: 1rem
}

.section3 {
  font-size: .9rem
}

.section3,
.section4 {
  color: #942020;
  margin: 0
}

.section4 {
  font-size: .8rem
}

.box {
  box-sizing: border-box;
  color: red;
  justify-self: auto;
  width: 400px
}

.material-icons {
  width: 1rem;
}

.page-link {
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .head-nav {
    height: 70px;
  }

  .head-nav > h1 {
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  .head-nav > h1 > span {
    font-weight: 800;
    font-size: 1.2rem;
  }

  .head-nav img {
    border: 2px solid #b0b0eb;
    border-radius: 50%;
    height: 60px;
    justify-self: center;
    margin: 4px auto auto auto;
    width: 60px
  }

  .head-nav > h2 {
    font-size: .8rem;
    margin-right: 1rem;
    text-align: end;
  }

  .seemore {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 460px) {
  .head-nav {
    height: 80px
  }

  .head-nav > h1 {
    margin-right: 0.5rem;
  }

  .head-nav img {
    border: 2px solid #b0b0eb;
    border-radius: 50%;
    justify-self: center;
    height: 70px;
  }

  .seemore {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .ife-div-In-app {
    margin-top: 1.5rem;
  }

  .section1 {
    font-size: 1rem;
  }

  .section2 {
    font-size: .8rem
  }

  .section3 {
    font-size: .7rem
  }

  .section4 {
    font-size: .7rem
  }

  .material-icons {
    width: .7rem;
  }
}