@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");
* {
  font-family: "Nunito", sans-serif;
}
body {
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center
}

.head-nav {
  background: #720303;
  border: 10px;
  border-radius: 4px;
  box-shadow: 2px 3px 3px 3px gray;
  display: flex;
  height: 90px;
  justify-content: space-evenly;
  position: static
}

.head-nav>h1 {
  color: #f0f0f8;
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.head-nav img {
  border: 3px solid #b0b0eb;
  border-radius: 50%;
  justify-self: center;
  margin: 2px
}

.head-nav>h2 {
  color: #dfd6d6;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  margin-right: 2rem;
  margin-left: 2rem;
  padding-top: 1rem
}
.seemore {
  font-size: 1.5rem;
  margin-bottom: 0%;
  margin-left: 10%;
}
.ife-div-In-app {
  grid-gap: 6px;
  display: grid;
  gap: 6px;
  grid-template: auto auto/repeat(3, 1fr);
  margin: auto;
  width: -webkit-max-content;
  width: max-content
}

.Section-body {
  margin-top: .5%
}

.Section-body,
.Section-face {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center
}

.Section-face {
  background-color: #62bbf2;
  border-radius: 1rem;
  box-shadow: 3px 3px 3px 0 #453333;
  height: 400px;
  justify-items: center;
  margin-top: 5%;
  padding: 12px;
  place-items: center;
  width: 300px
}

.Section-body1 {
  max-height: 400px;
  max-width: 300px
}

.imge {
  border-radius: 1rem;
  box-shadow: 2px 3px 5px 4px gray;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%
}

.Section-body2 {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  max-width: 700px;
  padding: 2px 0 0 1rem
}

.section1 {
  font-size: 1.2rem;
  font-weight: 700
}

.section1,
.section2 {
  color: #942020;
  margin: 0
}

.section2 {
  font-size: 1rem
}

.section3 {
  font-size: .9rem
}

.section3,
.section4 {
  color: #942020;
  margin: 0
}

.section4 {
  font-size: .8rem
}

.box {
  box-sizing: border-box;
  color: red;
  justify-self: auto;
  width: 400px
}

.material-icons {
  width: 1rem;
}

@media screen and (max-width:740px) {
  .head-nav {
    height: 70px
  }

  .head-nav>h1 {
    color: #f0f0f8;
    font-size: 1rem;
    margin-left: .5rem;
  }

  .head-nav img {
    border: 2px solid #b0b0eb;
    border-radius: 50%;
    height: 60px;
    justify-self: center;
    margin: 1px;
    width: 60px
  }

  .head-nav>h2 {
    font-size: .8rem;
    margin-right: .2rem;
    text-align: center
  }
  .seemore {
    font-size: 1rem;
    margin-left: 5%;
  }

  .ife-div-In-app {
    grid-gap: 2px;
    display: grid;
    gap: 2px;
    grid-template: auto auto/repeat(2, 1fr)
  }
  
.material-icons {
  width: .9rem;
}
}

@media screen and (max-width: 420px) {
  .head-nav {
    height: 80px
  }

  .head-nav>h1 {
    color: #f0f0f8;
    font-size: 14px;
    margin-left: .7rem;
    margin-right: .1rem;
    margin-top: .9rem;
  }

  .head-nav img {
    border: 2px solid #b0b0eb;
    border-radius: 50%;
    justify-self: center;
    margin-top: .6rem
  }

  .head-nav>h2 {
    font-size: .8rem;
    margin-left: 4px;
    margin-right: 6px;
    padding-top: .8rem
  }
  .seemore {
    font-size: .9rem;
    margin-left: 2%;
    margin-right: 2%;
  }
  .ife-div-In-app {
    display: flex;
    flex-direction: column;
    gap: 1px
  }
  .section1 {
    font-size: 1rem;
  }
  .section2 {
    font-size: .8rem
  }
  
  .section3 {
    font-size: .7rem
  }
  
  .section4 {
    font-size: .7rem
  }
  .material-icons {
    width: .7rem;
  }
}
